.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 52px);
}

.content-sidebar {
  flex-grow: 1;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
}

.content-information {
  flex-grow: 4;
}
