p {
  margin: 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.person-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.15);
  padding: 16px;
}

.person-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  color: #333333;
}

.person-info {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  color: #828282;
}